<app-sidebar-admin></app-sidebar-admin>
<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="card px-3">
        <div class="card-header card-header-info">
          <h4 class="card-title mt-0">Betegek</h4>
        </div>
        <ng-data-table
          *ngIf="list$ | async as list"
          [columns]="columns"
          [list]="list"
          [entity]="entity"
          (deleteItem)="onDelete($event)"
          (editItem)="onEdit($event)"
        ></ng-data-table>
      </div>
    </div>
  </div>
</div>
