<app-sidebar [sidebarMenuItems]="sidebarMenuItems"></app-sidebar>

<div class="main-panel">

  <app-navigation></app-navigation>

  <div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-6 offset-3">
          <div class="card">
            <div class="card-header card-header-info">
              <h4
                *ngIf="test$ | async"
                class="card-title"
              >Vizsgálat szerkesztése</h4>
              <h4
                *ngIf="!(test$ | async)"
                class="card-title"
              >Új vizsgálat hozzáadása</h4>
            </div>
            <div class="card-body">
              <form
                #testForm="ngForm"
                (ngSubmit)="onSend(test)"
              >
                <input
                  type="hidden"
                  name="id"
                  [(ngModel)]="test._id"
                >
                <div class="form-group">
                  <label
                    class=""
                    for="name"
                  >Név <span class="validation-danger">*</span></label>
                  <input
                    id="name"
                    class="form-control"
                    type="text"
                    name="name"
                    [(ngModel)]="test.name"
                    pattern="^([A-ZÖÜÓŐÚŰÉÁÍ]{1,1}[A-Űa-ű \-]{1,})$"
                    required
                    autofocus
                  >
                </div>
                <div class="validation validation-danger mb-3" [hidden]="testForm.controls['name']?.valid">
                  A név nagy kezdőbetűvel kezdődik és legalább két karakter hosszú. Kötelező kitölteni.
                </div>

                <div class="form-group">
                  <label
                    class=""
                    for="price"
                  >Ár <span class="validation-danger">*</span></label>
                  <input
                    id="price"
                    class="form-control"
                    type="number"
                    name="price"
                    [(ngModel)]="test.price"
                    pattern=""
                    required
                  >
                </div>
                <div class="validation validation-danger mb-3" [hidden]="testForm.controls['price']?.valid">
                  Az árat kötelező kitölteni.
                </div>

                <div class="form-group">
                  <label
                    class=""
                    for="point"
                  >TB pont <span class="validation-danger">*</span></label>
                  <input
                    id="point"
                    class="form-control"
                    type="number"
                    name="point"
                    [(ngModel)]="test.point"
                    pattern=""
                    required
                  >
                </div>
                <div class="validation validation-danger mb-3" [hidden]="testForm.controls['point']?.valid">
                  A TB pontot kötelező kitölteni.
                </div>

                <div class="form-group">
                  <label
                    class=""
                    for="description"
                  >Leírás <span class="validation-danger">*</span></label>
                  <input
                    id="description"
                    class="form-control"
                    name="description"
                    [(ngModel)]="test.description"
                    pattern=""
                    required
                  >
                </div>
                <div class="validation validation-danger mb-3" [hidden]="testForm.controls['description']?.valid">
                  A leírást kötelező kitölteni
                </div>

                <div class="validation-main"><span class="validation-danger">*</span> Kötelező kitölteni</div>
                <button
                  [disabled]="!testForm.valid"
                  type="submit"
                  class="btn btn-success btn-link mr-2"
                > <i class="material-icons">save</i>
                  Mentés</button>
                <button
                  routerLink="/test"
                  class="btn btn-danger btn-link"
                > <i class="material-icons">not_interested</i>
                  Mégse</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>
