<app-sidebar></app-sidebar>
<div class="container">
  <div class="col-4 mx-auto text-center d-flex flex-column justify-content-center align-items-center vh-100">
      <h4>Belépés a Micro-Lab adminisztrációs oldalára</h4>
      <div class=" form-group">
          <input type="text" name="emausernameil" id="username" class="form-control" placeholder="Felhasználónév" required>
          <input type="password" name="password" id="password" class="form-control" placeholder="Jelszó" required>
      </div>
      <button type="submit" class="btn btn-info" routerLink="/admin">Belépés</button>
  </div>
</div>
