<div class="sidebar" data-color="azure" data-background-color="white" data-image="../../../assets/img/microscope.webp">
  <!--
    Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

    Tip 2: you can also add an image using data-image tag
-->

  <div class="sidebar-wrapper">
    <ul class="nav">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/">
          <i class="material-icons">home</i>
          <p>Kezdőoldal</p>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/products">
          <i class="material-icons">science</i>
          <p>Elérhető vizsgálatok</p>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="http://www.microscopy-uk.org.uk/" target=”_blank”>
          <i class="material-icons">biotech</i>
          <p>Mikroszkópok világa</p>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-danger" routerLink="/">
          <i class="material-icons red">login</i>
          <p>Bejelentkezés</p>
        </a>
      </li>
    </ul>
  </div>
</div>

