<div class="sidebar" data-color="azure" data-background-color="white" data-image="../../../assets/img/microscope.webp">
  <!--
    Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

    Tip 2: you can also add an image using data-image tag
-->

  <div class="sidebar-wrapper">
    <ul class="nav">
      <li *ngFor="let item of sidebar" class="nav-item">
        <a class="nav-link" [routerLink]="item.link" [ngClass]="item.class">
          <i *ngIf="item.icon" class="material-icons">{{item.icon}}</i>
          <p>{{ item.title }}</p>
        </a>
      </li>

    </ul>
  </div>
</div>

