<app-sidebar></app-sidebar>
    <div class="card">
      <img class="card-img-top" src="../../../assets/img/laboratory2.jpeg" rel="nofollow" alt="Card image cap">
      <div class="card-header card-header-info">
          <h2 class="card-title">Üdvözöljük a Micro-Lab oldalán!</h2>
      </div>
      <div class="card-body">
        A Micro-Lab modern diagnosztikai szolgáltatásokat kínál - ezen belül rutin vizsgálatokat és speciális teszteket is.
        Célunk, hogy széles körben elérhetővé tegyük, költséghatékonyan, de a legmagasabb minőséget garantálva, a páciensek számára a labordiagnosztikai eljárásokat.
        Laboratóriumi vizsgálatok aznapi eredménnyel, az ország minden pontján.
      </div>
  </div>
  <div class="row">
      <div class="col-md-6">
        <div class="card">
            <div class="card-header card-header-info">
                <h4 class="card-title">Betegek száma, akik bíznak bennünk</h4>
                <p class="category">2021-ben</p>
            </div>
            <div class="card-body">
                  100
            </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
            <div class="card-header card-header-info">
                <h4 class="card-title">Feldolgozott minták száma</h4>
                <p class="category">2021-ben</p>
            </div>
            <div class="card-body">
                  100
            </div>
        </div>
      </div>
      </div>
      <div class="row">
      <div class="col-md-6">
        <div class="card">
            <div class="card-header card-header-info">
                <h4 class="card-title">Orvosok száma, akik hozzánk küldik a mintákat</h4>
                <p class="category">2021-ben</p>
            </div>
            <div class="card-body">
                  100
            </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
            <div class="card-header card-header-info">
                <h4 class="card-title">A laboratóriumunkban elérhető vizsgálatok száma</h4>
                <p class="category">2021-ben</p>
            </div>
            <div class="card-body">
                  100
            </div>
        </div>
      </div>
      </div>







